@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET WebAPI Upload</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div>
        <form name="form1" method="post" action="https://localhost:44355/api/UploadFile/PostFormData" enctype="multipart/form-data">
            <div>
                <label>
                    Brows File
                </label>
                <input name="myFile" type="file" />
            </div>
            <div>
                <input type="submit" value="Upload" />
            </div>
        </form>
    </div>
</div>