@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET WebAPI Upload</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div>
        <form name="form1" method="post" action="https://localhost:44355/api/UploadFile/PostFormData" enctype="multipart/form-data">
            <div>
                <label>
                    Brows File
                </label>
                <input name="myFile" type="file" />
            </div>
            <div>
                <input type="submit" value="Upload" />
            </div>
        </form>
        <form name="form2" method="post" action="https://localhost:44356/Home/SingleFileUpload" enctype="multipart/form-data">
            <div class="form-horizontal">
                <div>
                    <label>
                        Brows File
                    </label>
                    <input name="file" type="file" />
                </div>
                <div>
                    <input type="submit" value="Upload" />
                </div>
            </div>
        </form>
        <form name="form2" method="post" action="https://localhost:44356/Home/MultiFileUpload" enctype="multipart/form-data">
            <div class="form-horizontal">
                <div>
                    <label>
                        Brows File
                    </label>
                    <input name="files" multiple="multiple" type="file" />
                </div>
                <div>
                    <input type="submit" value="Upload" />
                </div>
            </div>
        </form>
    </div>
</div>